button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body,
button {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.wrapper {
  max-width: 136.6rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.container {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
}

button.selectBtn-js {
  border-radius: 30px 30px 0 0;
  border-bottom: none;
}

ul.selectList-js {
  visibility: visible;
  opacity: 1;
}

i.selectLabel-js {
  display: inline-block;
  transform: rotate(180deg);
}

.float-right {
  float: right;
}

.select {
  position: relative;
}
.select__drop {
  padding: 1.5rem 2.5rem;
  border: 1.5px solid #f6f7fb;
  border-radius: 30px;
  background-color: #fff;
}
.select__drop * {
  pointer-events: none;
}
.select__label {
  margin-left: 1rem;
  font-size: 18px;
  transition: all 0.3s linear;
  display: inline-block;
}
.select__list {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  border: 1.5px solid #f6f7fb;
  border-top: none;
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  font-weight: 400;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.select__item {
  padding: 1.5rem 2.5rem;
}
.select__item:hover {
  font-weight: 500;
}

.tag {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 30px;
  background-color: #f6f7fb;
  font-size: 14px;
}
.tag__control {
  background-color: unset;
  margin-left: 1rem;
  font-size: 14px;
}
.tag__control:hover {
  color: rgba(3, 3, 3, 0.5);
}

.header {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: #f6f7fb;
  font-size: 20px;
}
.header-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-controls__item {
  margin-left: 2rem;
}
.header-controls__item button {
  font-size: 25px;
  background-color: unset;
}

.breadcrumbs {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 2rem;
}
.breadcrumbs__item a:hover {
  color: rgba(3, 3, 3, 0.5);
}
.breadcrumbs__item :last-child {
  font-weight: 600;
}
.breadcrumbs__divider {
  margin-left: 1rem;
  font-size: 18px;
}

.filter {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.filter__selects {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.filter__selects div {
  margin-right: 2rem;
}
.filter__selects div:last-child {
  margin-left: auto;
}
.filter__tags {
  margin-top: 1.5rem;
}

.products {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.products__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.products .product {
  width: calc(25% - 5rem);
  margin-bottom: 4rem;
}
.products .product__image {
  display: block;
  border-radius: 30px;
  background-color: #f6f7fb;
}
.products .product__image img {
  width: 100%;
  object-fit: contain;
}
.products .product__name {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.products .product__name:hover {
  color: rgba(3, 3, 3, 0.5);
}
.products .product__old-price {
  color: rgba(3, 3, 3, 0.5);
  font-size: 14px;
  text-decoration: line-through;
}
.products .product__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.products .product__category {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.products .product__category--orange {
  background: rgba(255, 193, 35, 0.1);
  color: #ffc123;
}
.products .product__category--blue {
  background: rgba(41, 117, 255, 0.1);
  color: #2975ff;
}
.products .product__category--pink {
  background: rgba(255, 102, 160, 0.1);
  color: #ff66a0;
}
.products .product__category--green {
  background: rgba(0, 204, 150, 0.1);
  color: #00cc96;
}

.pagination {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination__item {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border: 1.5px solid #f6f7fb;
  border-radius: 50%;
  cursor: pointer;
}
.pagination__item:not(:last-child) {
  margin-right: 2rem;
}
.pagination__item--disable {
  background-color: rgba(3, 3, 3, 0.1);
  color: rgba(3, 3, 3, 0.5);
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}
.pagination__item--active {
  border: none;
  background-color: #00cc96;
  color: #fff;
}
.pagination__item:hover {
  border-color: #333;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/*# sourceMappingURL=main.css.map */
