$primaryColor: #00cc96;
$gray: #f6f7fb;
$black: #333;
$darkGray: rgba(3, 3, 3, 0.4);
$white: #fff;
$primary-font: "Montserrat";
@mixin dFlex($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin sectionPadding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}
body,
button {
  font-family: $primary-font, "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.wrapper {
  max-width: 136.6rem;
  margin-left: auto;
  margin-right: auto;

  background-color: $white;
}
.container {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
}
//JS event classes
button.selectClick {
  border-radius: 30px 30px 0 0;
  border-bottom: none;
}
ul.selectShow {
  display: block;
  border-top: none;
}
//end JS event classes
.float-right {
  float: right;
}
.select {
  position: relative;
  &__drop {
    padding: 1.5rem 2.5rem;
    border: 1.5px solid $gray;
    border-radius: 30px;
    background-color: $white;
    * {
      pointer-events: none;
    }
  }
  &__label {
    margin-left: 1rem;
    font-size: 18px;
  }
  &__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    border: 1.5px solid $gray;
    border-radius: 0 0 30px 30px;
    background-color: $white;
  }
  &__item {
    padding: 1.5rem 2.5rem;
  }
}
.tag {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 999px;
  background-color: $gray;
  font-size: 14px;
  &__control {
    background-color: unset;
    margin-left: 1rem;
    font-size: 16px;
  }
}

.header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  &__inner {
    @include dFlex();
  }
  &__burger {
    width: 4rem;
    height: 4rem;
    line-height: 4.5rem;

    border-radius: 999px;
    background: $gray;
    font-size: 25px;
  }
  &-controls {
    @include dFlex();
    &__item {
      margin-left: 2rem;
      button {
        font-size: 25px;
        background-color: unset;
      }
    }
  }
}
.breadcrumbs {
  @include sectionPadding();
  &__list {
    @include dFlex(row, flex-start);
  }
  &__item {
    margin-right: 2rem;
    span {
      margin-left: 1rem;
      font-size: 18px;
    }
    :last-child {
      font-weight: 600;
    }
  }
}
.filter {
  @include sectionPadding();
  &__selects {
    @include dFlex(row, flex-start);
    div {
      margin-right: 2rem;
      &:last-child {
        margin-left: auto;
      }
    }
  }
  &__tags {
    margin-top: 1.5rem;
  }
}
.products {
  @include sectionPadding();
  &__inner {
    @include dFlex();
    flex-wrap: wrap;
  }
  .product {
    width: calc(25% - 5rem);
    margin-bottom: 4rem;
    &__image {
      display: block;
      border-radius: 30px;
      background-color: $gray;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    &__name {
      display: block;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      font-weight: 500;
    }
    &__old-price {
      color: $darkGray;
      font-weight: 500;
      font-size: 14px;
      text-decoration: line-through;
    }
    &__price {
      font-weight: 500;
    }
    &__details {
      @include dFlex();
    }
    &__category {
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: 999px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      &--orange {
        background: rgba(255, 193, 35, 0.1);
        color: #ffc123;
      }
      &--blue {
        background: rgba(41, 117, 255, 0.1);
        color: #2975ff;
      }
      &--pink {
        background: rgba(255, 102, 160, 0.1);
        color: #ff66a0;
      }
      &--green {
        background: rgba(0, 204, 150, 0.1);
        color: #00cc96;
      }
    }
  }
}
